@font-face {
    font-family: 'tungstennarrow';
    src: url('../fonts/TungstenNarrow-Medium.ttf');
}

.offer {
    float: left;
    width: 1280px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

.productname {
    margin-top: -1.2em;
    margin-left: 0.4em;
    color: white;
    font-family: tungstennarrow;
    font-size: 7.5em;
}

.productprice {
    margin-top: -1.2em;
    margin-left: 7em;
    font-family: tungstennarrow;
    font-size: 9em;
}